.select-city {
  display: flex;
  flex-flow: column nowrap;

  &__h1 {
    align-self: flex-start;
  }
}

.img-container {
  display: flex;
  justify-content: space-around;
}

.city-img {
  width: 380px;
  height: 232px;
  border-radius: 11px;
  background-color: #cccccc;
}
