.hero {
  width: 100vw;
  background-color: lightgray;
  height: 584px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
  }
  &__topbar {
    display: flex;
    flex-basis: 100%;

    &--list {
      list-style-type: none;
      display: flex;
      align-self: flex-end;
    }
  }

  &__header {
    margin-top: 13rem;
  }
}
